[submodule "external/libcanard"]
	path = external/libcanard
	url = https://github.com/OpenCyphal/libcanard
[submodule "external/MCP251XFD"]
	path = external/MCP251XFD
	url = https://github.com/Emandhal/MCP251XFD.git
[submodule "external/o1heap"]
	path = external/o1heap
	url = https://github.com/pavel-kirienko/o1heap.git
[submodule "external/ulog"]
	path = external/ulog
	url = https://github.com/rdpoor/ulog.git
[submodule "external/public_regulated_data_types"]
	path = external/public_regulated_data_types
	url = https://github.com/OpenCyphal/public_regulated_data_types.git
[submodule "external/Pico_BusIO"]
	path = external/Pico_BusIO
	url = https://github.com/VIP-LES/Pico_BusIO
	branch = master
[submodule "external/Adafruit_TSL2561"]
	path = external/Adafruit_TSL2561
	url = https://github.com/adafruit/Adafruit_TSL2561
[submodule "external/Adafruit_LTR390"]
	path = external/Adafruit_LTR390
	url = https://github.com/adafruit/Adafruit_LTR390
[submodule "external/Adafruit_PM25AQI"]
	path = external/Adafruit_PM25AQI
	url = https://github.com/adafruit/Adafruit_PM25AQI
[submodule "external/Adafruit_BMP3XX"]
	path = external/Adafruit_BMP3XX
	url = https://github.com/adafruit/Adafruit_BMP3XX
[submodule "external/sx1262"]
	path = external/sx1262
	url = https://github.com/libdriver/sx1262.git